<section class="contact">
  <div class="container">
    <div class="left">
      <div class="form-wrapper">
        <div class="contact-heading">
          <h1>Let's work together<span>.</span></h1>
          <p class="text">
            Or reach us via :
            <a href="mailto:Publius@mail.com">hr@trendency.hu</a>
          </p>
        </div>

        <form
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit()"
          method="post"
          class="contact-form"
        >
          <div
            class="input-wrap"
            [class.focus]="firstnamefocus"
            [class.not-empty]="firstnamechars.length > 0"
          >
            <input
              [(ngModel)]="firstnamechars"
              [(ngModel)]="formData.firstname"
              (focus)="firstNamefocus()"
              (blur)="firstNameBlurred()"
              id="firstname"
              formControlName="firstname"
              class="contact-input form-control"
              type="text"
            />
            <label>First name</label>
            <i class="icon icon-address"></i>
          </div>
          <div
            *ngIf="
              contactForm.get('firstname')?.invalid &&
              contactForm.get('firstname')?.touched
            "
            class="alert alert-danger"
          >
            <span>First name field is required</span>
          </div>
          <div
            class="input-wrap"
            [class.focus]="lastnamefocus"
            [class.not-empty]="lastnamechars.length > 0"
          >
            <input
              [(ngModel)]="formData.lastname"
              [(ngModel)]="lastnamechars"
              (focus)="lastNamefocus()"
              (blur)="lastNameBlurred()"
              id="lastname"
              formControlName="lastname"
              class="contact-input"
              autocomplete="off"
              name="Last Name"
              type="text"
              required
            />
            <label>Last name</label>
            <i class="icon icon-address"></i>
          </div>
          <div
            *ngIf="
              contactForm.get('lastname')?.invalid &&
              contactForm.get('lastname')?.touched
            "
            class="alert alert-danger"
          >
            <span>Last name field is required</span>
          </div>

          <div
            class="input-wrap"
            [class.focus]="emailfocus"
            [class.not-empty]="emailchars.length > 0"
          >
            <input
              [(ngModel)]="formData.email"
              [(ngModel)]="emailchars"
              (focus)="emailFocus()"
              (blur)="emailBlurred()"
              id="email"
              formControlName="email"
              class="contact-input"
              autocomplete="off"
              name="Email"
              type="email"
              required
            />
            <label>Email</label>
            <i class="icon icon-envelope"></i>
          </div>
          <div
            *ngIf="
              contactForm.get('email')?.invalid &&
              contactForm.get('email')?.touched
            "
            class="alert alert-danger"
          >
            <span
              >Email field is required! Please enter a valid email
              address!</span
            >
          </div>
          <div
            class="input-wrap textarea"
            [class.focus]="messagefocus"
            [class.not-empty]="messagechars.length > 0"
          >
            <textarea
              [(ngModel)]="formData.message"
              (focus)="messageFocus()"
              (blur)="messageBlurred()"
              id="message"
              formControlName="message"
              name="Message"
              class="contact-input"
              (input)="onValueChange($event)"
              [value]="messagechars"
            ></textarea>
            <label>Message</label>
            <i class="icon icon-inbox"></i>
          </div>

          <div class="contact-buttons">
            <button class="btn upload">
              <span> <i class="icon icon-paperclip"></i> Add attachement </span>
              <input type="file" name="attachement" />
            </button>
            <button class="btn btn-submit" type="submit">
              <i class="icon icon-paperplane"></i> Send message
            </button>
          </div>
        </form>
      </div>

      <div *ngIf="submitted" class="submitted">
        <h2>Submitted Data:</h2>
        <p><strong>First Name:</strong> {{ formData.firstname }}</p>
        <p><strong>Last Name:</strong> {{ formData.lastname }}</p>
        <p><strong>Email:</strong> {{ formData.email }}</p>
        <p><strong>Message:</strong> {{ formData.message }}</p>
      </div>
    </div>

    <div class="right">
      <div class="image-wrapper">
        <img src="../../assets/images/img.jpg" class="img" />
        <div class="wave-wrap">
          <svg
            class="wave"
            viewBox="0 0 783 1536"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              id="wave"
              d="M236.705 1356.18C200.542 1483.72 64.5004 1528.54 1 1535V1H770.538C793.858 63.1213 797.23 196.197 624.165 231.531C407.833 275.698 274.374 331.715 450.884 568.709C627.393 805.704 510.079 815.399 347.561 939.282C185.043 1063.17 281.908 1196.74 236.705 1356.18Z"
            />
          </svg>
        </div>
        <svg
          class="dashed-wave"
          viewBox="0 0 345 877"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="dashed-wave"
            d="M0.5 876C25.6667 836.167 73.2 739.8 62 673C48 589.5 35.5 499.5 125.5 462C215.5 424.5 150 365 87 333.5C24 302 44 237.5 125.5 213.5C207 189.5 307 138.5 246 87C185 35.5 297 1 344.5 1"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
