/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  --main-hue: 208;
  --main-color: hsl(var(--main-hue), 92%, 54%);
  --main-color: #82c341;
  --main-color-hover: hsl(var(--main-hue), 77%, 48%);
  --light-main-color: hsl(var(--main-hue), 91%, 55%);
  --text-color: #000;
  --nav-color: hsl(var(--main-hue), 17%, 79%);
  --bg-color: #fff;
  --light-text-color: #9ca7b6;
  --input-bg: hsla(var(--main-hue), 50%, 50%, 6.5%);
  --input-bg-hover: hsla(var(--main-hue), 50%, 50%, 14%);
  --input-text: #8c9aaf;
  --input-shadow: hsla(var(--main-hue), 92%, 54%, 0.169);
}

.dark {
  --bg-color: hsl(var(--main-hue), 30%, 16.5%);
  --input-bg: hsla(var(--main-hue), 22%, 50%, 11%);
  --input-bg-hover: hsla(var(--main-hue), 22%, 50%, 18.5%);
  --nav-color: hsl(var(--main-hue), 10%, 47%);
  --light-text-color: hsl(var(--main-hue), 12%, 46%);
  --input-text: hsl(var(--main-hue), 10%, 55%);
  --input-shadow: hsla(var(--main-hue), 92%, 58%, 0.2);
  --text-color: #fff;
}

.dark .logo img.logo-forDark {
  opacity: 1;
}

.dark .logo img.logo-forLight {
  opacity: 0;
}
.dark #dashed-wave {
  opacity: 0.3;
}

.transition {
  transition: 1s cubic-bezier(0.4, 0.1, 0.4, 1) !important;
}

a {
  text-decoration: none;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsla(var(--main-hue), 30%, 16.5%, 80%);
  z-index: 2;
  opacity: 0;
}

.dark .background {
  opacity: 1;
}

.logo {
  width: 170px;
  height: 35px;
  &.logo-dark {
    background: url(../../assets/images/logo-dark.svg);
  }
  &.logo-light {
    background: url(../../assets/images/logo-light.svg);
  }
}
